<!DOCTYPE html>

<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <title>Server Control</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form hx-post="/api/start_server" hx-swap="none">
        <button id="startButton">Start Server</button>
        <button hx-post="/api/stop_server">Stop Server</button>
        <select hx-get="/api/get_servers" hx-swap="innerHTML" hx-trigger="load" name="loc" id="loc">
        </select>
    </form>

    <div hx-ext="sse" sse-connect="/api/get_console" sse-swap="message" class="console"></div>

    <form hx-post="/api/send_command" hx-swap="innerHTML" autocomplete="off">
        <input type="text" name="command" placeholder="Command" autofocus onfocus="this.select()"/>
        <input type="submit" value="Send" />
    </form>
</body>
</html>